@import "compass/reset";

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    -webkit-font-smoothing: antialiased !important;
    color: #262626;
    background: #000102;
    strong {
        font-weight: bold;
    }
    a {
        color: #e400ff;
        text-decoration: none;
    }
    ul, ol {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 21px;
        font-weight: normal;
        list-style: none;
    }
    ol {
        margin: 18px 0 0;
        list-style: decimal;
        padding: 0 0 0 20px;
        li {
            margin: 9px 0 0;
        }
    }
    h1, h3, h4 {
        margin: 0;
        font-family: "Montserrat Bold", Helvetica, Arial, sans-serif;
        font-weight: bold;
        i {
            color: #0b9be6;
        }
    }
    h1 {
        font-size: 24px;
        line-height: 24px;
    }
    h2 {
        font-family: "Montserrat", Helvetica, Arial, sans-serif;
        font-size: 21px;
        font-weight: normal;
        line-height: 26px;
        text-transform: uppercase;
    }
    h4 {
        padding: 9px 0 0;
        font-size: 14px;
        line-height: 14px;
    } 
    p {
        margin: 0;
        padding: 9px 0;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 21px;
    }
    &#home {
        .header-wrapper {
            border-bottom: 1px solid rgba(0,68,107,1);
            box-shadow: 0 18px 30px rgba(0, 0, 0, 1);
        }
    }
    .header-wrapper {
        position: fixed;
        top: 0;
        z-index: 4;
        width: 100%;
        background: #000102;
        border-bottom: 1px solid #000102;
        header {
            margin: 0 auto;
            padding: 20px;
            width: 914px;
            nav {
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 14px;
                li {
                    display: inline-block;
                    width: 150px;
                    a {
                        padding: 10px;
                        font-family: "Montserrat", Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        line-height: 50px;
                        color: #fff;
                        border-bottom: 1px solid #000102;
                        &.active, &:hover {
                            border-bottom: 1px solid #e400ff;
                        }
                    }
                    &.nav-logo {
                        width: auto;
                        a {
                            padding: 0;
                            display: inline-block;
                            text-indent: 100%;
                            overflow: hidden;
                            height: 50px;
                            width: 163px;
                            border-bottom: 1px solid #000102;
                            background: url('../images/logo-glow.png') center no-repeat;
                            /* &:hover {
                                border-bottom: 1px solid #000102;
                                background: url('../images/logo-glow.png') center 1px no-repeat;
                            } */
                        }
                    }
                    &.nav-projects {
                        float: left;
                        text-align: left;
                    }
                    &.nav-docs {
                        float: left;
                    }
                    &.nav-about {
                        float: right;
                    }
                    &.nav-blog {
                        float: right;
                        text-align: right;
                    }
                }
            }
        }
        .cta-mini {
            margin-left: -160px;
            padding: 10px 10px 10px 70px;
            display: none;
            position: fixed;
            top: 92px;
            left: 50%;
            height: 40px;
            width: 240px;
            font-size: 18px;
            line-height: 38px;
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
            color: #fff;
            background-color: #b336a9;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#b336a9), to(#93258a));
            background-image: -webkit-linear-gradient(top, #b336a9, #93258a);
            background-image: -moz-linear-gradient(top, #b336a9, #93258a);
            background-image: -o-linear-gradient(top, #b336a9, #93258a);
            background-image: linear-gradient(to bottom, #b336a9, #93258a);
            border-radius: 0 0 3px 3px;
            box-shadow: 0 2px 2px 1px rgba(0,0,0,.75);
            &:before {
                content: "";
                position: absolute;
                top: 7px;
                left: 12px;
                height: 44px;
                width: 44px;
                background: url('../images/github.png') no-repeat;
            }
            &:hover {
                background-color: #8f2b87;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#8f2b87), to(#761e6e));
                background-image: -webkit-linear-gradient(top, #8f2b87, #761e6e);
                background-image: -moz-linear-gradient(top, #8f2b87, #761e6e);
                background-image: -o-linear-gradient(top, #8f2b87, #761e6e);
                background-image: linear-gradient(to bottom, #8f2b87, #761e6e);
            }
        }
    }
    .banner-wrapper {
        margin-top: 92px;
        width: 100%;
        border-bottom: 2px solid rgba(0,68,107,1);
        background: #000109;
        .banner {
            margin: 0 auto;
            padding: 45px 20px;
            overflow: hidden;
            width: 914px;
            .content {
                float: left;
                width: 73%;
                h1 {
                    line-height: 20px;
                    color: #0b9be6;
                }
                h2 {
                    margin: 18px 0 0;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: normal;
                    color: #fff;
                    text-transform: inherit;
                }
            }
            .cta {
                margin: 43px 0 0; /* remove once video is back in */
                float: right;
                width: 23.5%;
                a {
                    display: block;
                    position: relative;
                    font-family: "Montserrat", Helvetica, Arial, sans-serif;
                    color: #fff;
                    border-radius: 3px;
                    &.cta-github {
                        padding: 10px 10px 10px 70px;
                        font-family: "Montserrat", Helvetica, Arial, sans-serif;
                        font-size: 18px;
                        line-height: 26px;
                        background-color: #b336a9;
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#b336a9), to(#93258a));
                        background-image: -webkit-linear-gradient(top, #b336a9, #93258a);
                        background-image: -moz-linear-gradient(top, #b336a9, #93258a);
                        background-image: -o-linear-gradient(top, #b336a9, #93258a);
                        background-image: linear-gradient(to bottom, #b336a9, #93258a);
                        &:before {
                            content: "";
                            position: absolute;
                            top: 13px;
                            left: 12px;
                            height: 44px;
                            width: 44px;
                            background: url('../images/github.png') no-repeat;
                        }
                        &:hover {
                            background-color: #8f2b87;
                            background-image: -webkit-gradient(linear, left top, left bottom, from(#8f2b87), to(#761e6e));
                            background-image: -webkit-linear-gradient(top, #8f2b87, #761e6e);
                            background-image: -moz-linear-gradient(top, #8f2b87, #761e6e);
                            background-image: -o-linear-gradient(top, #8f2b87, #761e6e);
                            background-image: linear-gradient(to bottom, #8f2b87, #761e6e);
                        }
                    }
                    &.cta-video {
                        margin: 12px 0 0;
                        padding: 12px 10px 12px 70px;
                        font-size: 14px;
                        line-height: 14px;
                        background-color: #2d2d2d;
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2d2d), to(#262626));
                        background-image: -webkit-linear-gradient(top, #2d2d2d, #262626);
                        background-image: -moz-linear-gradient(top, #2d2d2d, #262626);
                        background-image: -o-linear-gradient(top, #2d2d2d, #262626);
                        background-image: linear-gradient(to bottom, #2d2d2d, #262626);
                        &:before {
                            content: "";
                            position: absolute;
                            top: 9px;
                            left: 19px;
                            height: 20px;
                            width: 33px;
                            background: url('../images/video.png') no-repeat;
                        }
                    }
                }
            }
        }
    }
    .content-wrapper {
        width: 100%;
        border-bottom: 2px solid rgba(0,68,107,1);
        background: #020619;
        .code {
            margin: 0 auto;
            padding: 0 20px;
            position: relative;
            height: 960px;
            width: 914px;
            .code-highlight {
                padding: 0 480px 0 67px;
                position: absolute;
                left: 0;
                z-index: 2;
                width: 340px;
                color: #020619;
                a {
                    color: #020619;
                }
                img {
                    display: none;
                }
                &.inactive {
                    color: #323232;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    a {
                        color: #323232;
                    }
                }
                &.active {
                    color: #fff;
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    a {
                        color: #e400ff;
                    }
                    img {
                        display: block;
                    }
                }
                &.code-1 {
                    padding: 25px 0 0 67px;
                    top: 42px;
                    height: 77px;
                    img {
                        top: 5px;
                        left: 434px;
                        &.icon {
                            top: 25px;
                            left: 22px;
                        }
                    }
                }
                &.code-2 {
                    padding: 34px 0 0 67px;
                    top: 145px;
                    height: 84px;
                    img {
                        top: 1px;
                        left: 434px;
                        &.icon {
                            top: 34px;
                            left: 21px;
                        }
                    }
                }
                &.code-3 {
                    padding: 26px 0 0 67px;
                    top: 255px;
                    height: 46px;
                    z-index: 3;
                    img {
                        top: 8px;
                        left: 435px;
                        &.icon {
                            top: 30px;
                            left: 21px;
                        }
                    }
                }
                &.code-4 {
                    padding: 54px 0 0 67px;
                    top: 284px;
                    height: 139px;
                    img {
                        top: -2px;
                        left: 435px;
                        &.icon {
                            top: 85px;
                            left: 22px;
                        }
                    }
                }
                &.code-5 {
                    padding: 92px 0 0 67px;
                    top: 463px;
                    height: 168px;
                    img {
                        left: 434px;
                        &.icon {
                            top: 92px;
                            left: 22px;
                        }
                    }
                }
                &.code-6 {
                    top: 728px;
                    height: 75px;
                    img {
                        top: 18px;
                        left: 434px;
                        &.icon {
                            top: 30px;
                            left: 22px;
                        }
                    }
                }
            }
            img {
                display: none;
                position: absolute;
                top: 0;
                left: 16px;
                z-index: 1;
                background: #020619;
            }
        }
    }
    .content-wrapper-pages {
        margin-top: 92px;
        width: 100%;
        background: #fff;
        section {
            margin: 0 auto;
            padding: 0 20px 40px;
            overflow: hidden;
            width: 914px;
            h1 {
                padding: 40px 0 9px;
                font-family: "Montserrat", Helvetica, Arial, sans-serif;
                font-weight: normal;
            }
            h2 {
                padding: 40px 0 9px;
            }
            p {
                word-wrap: break-word;
            }
            a {
                text-decoration: underline;
            }
            .soon {
                padding: 140px 0 100px;
                text-align: center;
                font-family: "Montserrat Bold", Helvetica, Arial, sans-serif;
                font-weight: bold;
                color: #b2b2b1;
            }
            .tutorial-intro {
                margin: 9px 0 0;
                padding: 11px 20px;
                background: #f6f6f6;
            }
            pre {
                margin: 9px 0;
                white-space: pre-line;
                font-family: "Montserrat", Helvetica, Arial, sans-serif;
                font-size: 14px;
                background: #020619;
                code {
                    padding: 15px 20px 0px;
                    display: block;
                    white-space: pre-wrap;
                    font-family: "Montserrat", Helvetica, Arial, sans-serif;
                    .l1 {
                        color: #e400ff;
                    }
                    .l2 {
                        color: #567d92;
                    }
                    .l3 {
                        color: #0b9be6;
                    }
                    .l4 {
                        color: #8fd1f4;
                    }
                }
            }
            aside {
                position: fixed;
                top: 92px;
                float: left;
                width: 230px;
                ul {
                    li {
                        padding: 9px 0 0;
                        a {
                            position: relative;
                            font-family: Arial, sans-serif;
                            color: #b2b2b1;
                            text-decoration: none;
                            &:hover {
                                color: #262626;
                            }
                            &.active {
                                color: #262626;
                                &:before {
                                    content: "";
                                    position: absolute;
                                    top: 3px;
                                    left: -14px;
                                    height: 10px;
                                    width: 5px;
                                    background: url('../images/carrot.png') no-repeat;
                                }
                            }
                        }
                    }
                    &.nav-tutorials {
                        margin: 20px 0 0;
                        padding: 11px 0 0;
                        border-top: 1px solid #f6f6f6;
                        a {
                            font-family: "Montserrat", Helvetica, Arial, sans-serif;
                            color: #262626;
                        }
                    }
                }
            }
            .content {
                float: right;
                width: 69%;
            }
            .bios {
                overflow: hidden;
                li {
                    margin: 30px 0 0;
                    float: left;
                    width: 300px;
                    &.odd {
                        margin: 30px 20px 0 0;
                    }
                    .headshot {
                        margin: 0 18px 0 0;
                        float: left;
                        position: relative;
                        overflow: hidden;
                        border-radius: 50%;
                        border: 4px solid #0b9be6;
                        height: 100px;
                        width: 100px;
                        background: #f6f6f6;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            max-height: 100px;
                            min-width: 100px;
                            &.john-musser {
                                left: -8px;
                            }
                            &.ivan-lazarov {
                                left: -35px;
                            }
                        }
                    }
                    .bio-info {
                        padding: 5px 0 0;
                        float: left;
                        width: 170px;
                        h3 {
                            margin: 0 0 6px;
                            font-size: 21px;
                            line-height: 21px;
                            color: #0b9be6;
                        }
                        p {
                            padding: 3px 0 0;
                            line-height: 18px;
                        }
                        .bio-social {
                            margin: 9px 0 0;
                            .symbol {
                                margin: 0 5px 0 0;
                                font-size: 24px;
                                color: #b2b2b1;
                                text-decoration: none;
                                &:hover {
                                    color: #262626;
                                }
                            }
                            .symbol, a.symbol:before {
                                font-family: 'Mono Social Icons Font';
                                -webkit-text-rendering: optimizeLegibility;
                                -moz-text-rendering: optimizeLegibility;
                                -ms-text-rendering: optimizeLegibility;
                                -o-text-rendering: optimizeLegibility;
                                text-rendering: optimizeLegibility;
                                -webkit-font-smoothing: antialiased;
                                -moz-font-smoothing: antialiased;
                                -ms-font-smoothing: antialiased;
                                -o-font-smoothing: antialiased;
                                font-smoothing: antialiased;
                            }
                            
                            a.symbol:before {
                                content: attr(title);
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-wrapper {
        width: 100%;
        background: #000102;
        .footer {
            margin: 0 auto;
            padding: 40px 20px;
            overflow: hidden;
            width: 914px;
            .footer-nav {
                text-align: right; /* hide when we have footer links */
                /* float: left; unhide when we have footer links */
                ul {
                    overflow: hidden;
                    li {
                        margin: 0 18px 0 0;
                        float: left;
                        a {
                            font-family: "Montserrat", Helvetica, Arial, sans-serif;
                            color: #fff;
                        }
                    }
                }
                p {
                    padding: 43px 0 0;
                    display: block;
                    font-size: 12px;
                    color: rgba(255,255,255,.5);
                }
            }
            .signup {
                text-align: center; /* hide when we have footer links */
                /* float: right; unhide when we have footer links */
                font-family: "Montserrat", Helvetica, Arial, sans-serif;
                font-size: 14px;
                label {
                    margin: 0 0 20px;
                    display: block;
                    font-family: "Montserrat Bold", Helvetica, Arial, sans-serif;
                    font-size: 21px;
                    font-weight: bold;
                    line-height: 21px;
                    color: #0b9be6;
                }
                input {
                    padding: 10px;
                    display: inline-block;
                    border: none;
                    &[type=text] {
                        width: 365px; /* hide when we have footer links */
                        /* width: 265px; unhide when we have footer links */
                        border-radius: 3px 0 0 3px;
                        box-shadow: inset 0 0 5px rgba(0,0,0,.45);
                    }
                    &[type=submit] {
                        color: #fff;
                        border-radius: 0 3px 3px 0;
                        background-color: #b336a9;
                        background-image: -webkit-gradient(linear, left top, left bottom, from(#b336a9), to(#93258a));
                        background-image: -webkit-linear-gradient(top, #b336a9, #93258a);
                        background-image: -moz-linear-gradient(top, #b336a9, #93258a);
                        background-image: -o-linear-gradient(top, #b336a9, #93258a);
                        background-image: linear-gradient(to bottom, #b336a9, #93258a);
                        &:hover {
                            background-color: #8f2b87;
                            background-image: -webkit-gradient(linear, left top, left bottom, from(#8f2b87), to(#761e6e));
                            background-image: -webkit-linear-gradient(top, #8f2b87, #761e6e);
                            background-image: -moz-linear-gradient(top, #8f2b87, #761e6e);
                            background-image: -o-linear-gradient(top, #8f2b87, #761e6e);
                            background-image: linear-gradient(to bottom, #8f2b87, #761e6e);
                        }
                    }
                }
                #ss-form-response {
                    padding: 10px;
                    color: #6fea05;
                }
            }
        }
    }
}