/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("../fonts/MonoSocialIconsFont-1.10.eot");
  src: url("../fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("../fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/* line 29, ../sass/screen.scss */
body {
  -webkit-font-smoothing: antialiased !important;
  color: #262626;
  background: #fff; }
  /* line 33, ../sass/screen.scss */
  body strong {
    font-weight: bold; }
  /* line 36, ../sass/screen.scss */
  body a {
    color: #e400ff;
    text-decoration: none; }
  /* line 40, ../sass/screen.scss */
  body ul, body ol {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    list-style: none; }
  /* line 49, ../sass/screen.scss */
  body ol {
    margin: 18px 0 0;
    list-style: decimal;
    padding: 0 0 0 20px; }
    /* line 53, ../sass/screen.scss */
    body ol li {
      margin: 9px 0 0; }
  /* line 57, ../sass/screen.scss */
  body h1, body h3, body h4 {
    margin: 0;
    font-family: "Montserrat Bold", Helvetica, Arial, sans-serif;
    font-weight: bold; }
    /* line 61, ../sass/screen.scss */
    body h1 i, body h3 i, body h4 i {
      color: #0b9be6; }
  /* line 65, ../sass/screen.scss */
  body h1 {
    font-size: 24px;
    line-height: 24px; }
  /* line 69, ../sass/screen.scss */
  body h2 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: normal;
    line-height: 26px;
    text-transform: uppercase; }
  /* line 76, ../sass/screen.scss */
  body h3 {
    margin: 0 0 3px;
    font-size: 16px;
    line-height: 16px;
    color: #0b9be6; }
  /* line 82, ../sass/screen.scss */
  body h4 {
    padding: 9px 0 0;
    font-size: 14px;
    line-height: 14px; }
  /* line 87, ../sass/screen.scss */
  body p {
    margin: 0;
    padding: 9px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 21px; }
  /* line 94, ../sass/screen.scss */
  body .symbol, body a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased; }
  /* line 108, ../sass/screen.scss */
  body a.symbol:before {
    content: attr(title); }
  /* line 111, ../sass/screen.scss */
  body pre {
    overflow: auto;
    white-space: pre-line;
    background: #000102; }
    /* line 115, ../sass/screen.scss */
    body pre code {
      padding: 0 20px 0px;
      display: block;
      white-space: pre-wrap;
      font-family: "Lucida Console", Monaco, monospace;
      font-size: 14px;
      line-height: 20px; }
      /* line 122, ../sass/screen.scss */
      body pre code .l1 {
        color: #bfeb71; }
      /* line 125, ../sass/screen.scss */
      body pre code .def {
        color: #fff; }
      /* line 128, ../sass/screen.scss */
      body pre code .val {
        color: #97a8ae; }
      /* line 131, ../sass/screen.scss */
      body pre code .l2 {
        color: #e400ff; }
      /* line 134, ../sass/screen.scss */
      body pre code .l22 {
        color: #af7ecc; }
      /* line 137, ../sass/screen.scss */
      body pre code .l3 {
        color: #ffa700; }
      /* line 140, ../sass/screen.scss */
      body pre code .l4 {
        color: #427cff; }
      /* line 143, ../sass/screen.scss */
      body pre code .l5 {
        color: #8fd1f4; }
      /* line 146, ../sass/screen.scss */
      body pre code .u {
        text-decoration: underline; }
      /* line 149, ../sass/screen.scss */
      body pre code .ln {
        color: rgba(255, 255, 255, 0.35); }
  /* line 154, ../sass/screen.scss */
  body .header-wrapper {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    background: #000102; }
    /* line 160, ../sass/screen.scss */
    body .header-wrapper header {
      margin: 0 auto;
      padding: 20px;
      width: 914px; }
      /* line 164, ../sass/screen.scss */
      body .header-wrapper header nav {
        text-align: center; }
        /* line 166, ../sass/screen.scss */
        body .header-wrapper header nav li {
          display: inline-block;
          width: 150px; }
          /* line 169, ../sass/screen.scss */
          body .header-wrapper header nav li a {
            padding: 10px;
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 50px;
            color: #fff;
            border-bottom: 1px solid #000102; }
            /* line 176, ../sass/screen.scss */
            body .header-wrapper header nav li a.active, body .header-wrapper header nav li a:hover {
              border-bottom: 1px solid #e400ff; }
          /* line 180, ../sass/screen.scss */
          body .header-wrapper header nav li.nav-logo {
            width: auto; }
            /* line 182, ../sass/screen.scss */
            body .header-wrapper header nav li.nav-logo a {
              padding: 0;
              display: inline-block;
              text-indent: 100%;
              overflow: hidden;
              height: 50px;
              width: 163px;
              border-bottom: 1px solid #000102;
              background: url("../images/logo.png") center no-repeat; }
          /* line 193, ../sass/screen.scss */
          body .header-wrapper header nav li.nav-projects {
            float: left;
            text-align: left; }
          /* line 197, ../sass/screen.scss */
          body .header-wrapper header nav li.nav-docs {
            float: left; }
          /* line 200, ../sass/screen.scss */
          body .header-wrapper header nav li.nav-about {
            float: right; }
          /* line 203, ../sass/screen.scss */
          body .header-wrapper header nav li.nav-blog {
            float: right;
            text-align: right; }
    /* line 210, ../sass/screen.scss */
    body .header-wrapper header.header-condensed {
      width: auto; }
      /* line 212, ../sass/screen.scss */
      body .header-wrapper header.header-condensed li {
        width: 100px; }
        /* line 214, ../sass/screen.scss */
        body .header-wrapper header.header-condensed li a {
          font-size: 14px;
          line-height: 43px; }
        /* line 218, ../sass/screen.scss */
        body .header-wrapper header.header-condensed li.nav-logo {
          width: auto; }
          /* line 220, ../sass/screen.scss */
          body .header-wrapper header.header-condensed li.nav-logo a {
            width: 125px;
            height: 35px;
            background: url("../images/logo-blue-small.png") no-repeat 0 0; }
        /* line 226, ../sass/screen.scss */
        body .header-wrapper header.header-condensed li.nav-docs {
          width: 131px; }
    /* line 231, ../sass/screen.scss */
    body .header-wrapper header.header-mobile {
      text-align: center;
      width: auto; }
      /* line 234, ../sass/screen.scss */
      body .header-wrapper header.header-mobile nav {
        margin: 16px 0 0;
        height: 45px; }
        /* line 237, ../sass/screen.scss */
        body .header-wrapper header.header-mobile nav li {
          float: none !important;
          width: auto; }
          /* line 240, ../sass/screen.scss */
          body .header-wrapper header.header-mobile nav li a {
            font-size: 16px;
            line-height: 16px; }
            /* line 243, ../sass/screen.scss */
            body .header-wrapper header.header-mobile nav li a.active, body .header-wrapper header.header-mobile nav li a:hover {
              color: #e400ff;
              border-bottom: none; }
      /* line 250, ../sass/screen.scss */
      body .header-wrapper header.header-mobile .nav-logo {
        padding: 0;
        display: inline-block;
        text-indent: 100%;
        overflow: hidden;
        height: 35px;
        width: 125px;
        background: url("../images/logo-blue-small.png") center no-repeat; }
    /* line 260, ../sass/screen.scss */
    body .header-wrapper header.header-condensed, body .header-wrapper header.header-mobile {
      display: none; }
    /* line 263, ../sass/screen.scss */
    body .header-wrapper .cta-mini {
      padding: 10px;
      display: none;
      position: fixed;
      top: 91px;
      right: 0;
      height: 40px;
      width: 50px;
      font-size: 18px;
      line-height: 38px;
      font-family: "Montserrat", Helvetica, Arial, sans-serif;
      color: #fff;
      background-color: #b336a9;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#b336a9), to(#93258a));
      background-image: -webkit-linear-gradient(top, #b336a9, #93258a);
      background-image: -moz-linear-gradient(top, #b336a9, #93258a);
      background-image: -o-linear-gradient(top, #b336a9, #93258a);
      background-image: linear-gradient(to bottom, #b336a9, #93258a);
      border-radius: 0 0 3px 3px;
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05); }
      /* line 283, ../sass/screen.scss */
      body .header-wrapper .cta-mini:hover {
        background-color: #8f2b87;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#8f2b87), to(#761e6e));
        background-image: -webkit-linear-gradient(top, #8f2b87, #761e6e);
        background-image: -moz-linear-gradient(top, #8f2b87, #761e6e);
        background-image: -o-linear-gradient(top, #8f2b87, #761e6e);
        background-image: linear-gradient(to bottom, #8f2b87, #761e6e); }
  /* line 293, ../sass/screen.scss */
  body .banner-wrapper {
    margin-top: 91px;
    width: 100%;
    background: #f6f6f6; }
    /* line 297, ../sass/screen.scss */
    body .banner-wrapper .content {
      margin: 0 auto;
      padding: 45px 20px;
      overflow: hidden;
      width: 914px; }
      /* line 302, ../sass/screen.scss */
      body .banner-wrapper .content .banner {
        float: left;
        width: 73%; }
        /* line 305, ../sass/screen.scss */
        body .banner-wrapper .content .banner h1 {
          color: #0b9be6; }
        /* line 308, ../sass/screen.scss */
        body .banner-wrapper .content .banner h2 {
          margin: 16px 0 0;
          font-family: "Montserrat", Helvetica, Arial, sans-serif;
          font-size: 16px;
          line-height: 21px;
          font-weight: normal;
          color: #262626;
          text-transform: inherit; }
        /* line 317, ../sass/screen.scss */
        body .banner-wrapper .content .banner .cta-github {
          margin: 16px 0 0;
          padding: 10px 10px 10px 41px;
          display: block;
          position: relative;
          font-family: "Montserrat", Helvetica, Arial, sans-serif;
          font-size: 12px;
          line-height: 14px;
          color: #fff;
          width: 150px;
          border-radius: 3px;
          background-color: #2d2d2d;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#2d2d2d), to(#262626));
          background-image: -webkit-linear-gradient(top, #2d2d2d, #262626);
          background-image: -moz-linear-gradient(top, #2d2d2d, #262626);
          background-image: -o-linear-gradient(top, #2d2d2d, #262626);
          background-image: linear-gradient(to bottom, #2d2d2d, #262626); }
          /* line 334, ../sass/screen.scss */
          body .banner-wrapper .content .banner .cta-github:hover {
            background-color: #262626;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#1e1e1e));
            background-image: -webkit-linear-gradient(top, #262626, #1e1e1e);
            background-image: -moz-linear-gradient(top, #262626, #1e1e1e);
            background-image: -o-linear-gradient(top, #262626, #1e1e1e);
            background-image: linear-gradient(to bottom, #262626, #1e1e1e); }
          /* line 342, ../sass/screen.scss */
          body .banner-wrapper .content .banner .cta-github:before {
            position: absolute;
            top: 5px;
            left: 12px;
            font-size: 24px;
            line-height: 24px; }
        /* line 350, ../sass/screen.scss */
        body .banner-wrapper .content .banner .cta-github.mobile {
          padding: 10px 25px;
          display: none; }
      /* line 355, ../sass/screen.scss */
      body .banner-wrapper .content .cta {
        margin: 29px 0 0;
        float: right;
        width: 229px; }
        /* line 359, ../sass/screen.scss */
        body .banner-wrapper .content .cta a {
          display: block;
          position: relative;
          font-family: "Montserrat", Helvetica, Arial, sans-serif;
          color: #fff;
          border-radius: 3px; }
          /* line 365, ../sass/screen.scss */
          body .banner-wrapper .content .cta a.cta-video {
            height: 150px;
            width: 229px;
            background: url("../images/video-thumb.png") center no-repeat;
            box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25); }
            /* line 370, ../sass/screen.scss */
            body .banner-wrapper .content .cta a.cta-video:hover {
              opacity: 0.9; }
  /* line 378, ../sass/screen.scss */
  body .content-wrapper {
    width: 100%;
    border-bottom: 2px solid #00446b;
    background: #ebebeb; }
    /* line 382, ../sass/screen.scss */
    body .content-wrapper .content {
      margin: 0 auto;
      padding: 40px 20px;
      overflow: hidden;
      width: 914px; }
      /* line 387, ../sass/screen.scss */
      body .content-wrapper .content .callouts {
        margin: 0 25px 0 0;
        float: left;
        width: 270px; }
        /* line 391, ../sass/screen.scss */
        body .content-wrapper .content .callouts a {
          color: #e400ff; }
        /* line 394, ../sass/screen.scss */
        body .content-wrapper .content .callouts p {
          padding: 0 0 0 38px;
          position: relative;
          font-size: 12px;
          line-height: 18px; }
          /* line 399, ../sass/screen.scss */
          body .content-wrapper .content .callouts p:before {
            content: "";
            position: absolute; }
          /* line 403, ../sass/screen.scss */
          body .content-wrapper .content .callouts p.callout1 {
            margin: 37px 0 0; }
            /* line 405, ../sass/screen.scss */
            body .content-wrapper .content .callouts p.callout1:before {
              top: 0;
              left: 0;
              width: 26px;
              height: 25px;
              background-size: 26px 25px;
              background: url("../images/callout-icons.png") no-repeat 0 0; }
          /* line 414, ../sass/screen.scss */
          body .content-wrapper .content .callouts p.callout2 {
            margin: 38px 0 0; }
            /* line 416, ../sass/screen.scss */
            body .content-wrapper .content .callouts p.callout2:before {
              top: 0;
              left: 0;
              width: 26px;
              height: 25px;
              background-size: 26px 25px;
              background: url("../images/callout-icons.png") no-repeat 0 -25px; }
          /* line 425, ../sass/screen.scss */
          body .content-wrapper .content .callouts p.callout3 {
            margin: 14px 0 0; }
            /* line 427, ../sass/screen.scss */
            body .content-wrapper .content .callouts p.callout3:before {
              top: 0;
              left: 0;
              width: 28px;
              height: 28px;
              background-size: 28px 28px;
              background: url("../images/callout-icons.png") no-repeat 0 -50px; }
          /* line 436, ../sass/screen.scss */
          body .content-wrapper .content .callouts p.callout4 {
            margin: 27px 0 0; }
            /* line 438, ../sass/screen.scss */
            body .content-wrapper .content .callouts p.callout4:before {
              top: 0;
              left: 0;
              width: 26px;
              height: 26px;
              background-size: 26px 26px;
              background: url("../images/callout-icons.png") no-repeat 0 -78px; }
          /* line 447, ../sass/screen.scss */
          body .content-wrapper .content .callouts p.callout5 {
            margin: 145px 0 0; }
            /* line 449, ../sass/screen.scss */
            body .content-wrapper .content .callouts p.callout5:before {
              top: 0;
              left: 0;
              width: 26px;
              height: 21px;
              background-size: 26px 21px;
              background: url("../images/callout-icons.png") no-repeat 0 -104px; }
          /* line 458, ../sass/screen.scss */
          body .content-wrapper .content .callouts p.callout6 {
            margin: 77px 0 0; }
            /* line 460, ../sass/screen.scss */
            body .content-wrapper .content .callouts p.callout6:before {
              top: 0;
              left: 0;
              width: 26px;
              height: 27px;
              background-size: 26px 27px;
              background: url("../images/callout-icons.png") no-repeat 0 -126px; }
      /* line 471, ../sass/screen.scss */
      body .content-wrapper .content .brackets {
        float: left; }
        /* line 473, ../sass/screen.scss */
        body .content-wrapper .content .brackets .bracket {
          position: relative;
          width: 2px;
          background: #e400ff; }
          /* line 477, ../sass/screen.scss */
          body .content-wrapper .content .brackets .bracket .top {
            position: absolute;
            top: 0;
            height: 2px;
            width: 6px;
            background: #e400ff; }
          /* line 484, ../sass/screen.scss */
          body .content-wrapper .content .brackets .bracket .bottom {
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 6px;
            background: #e400ff; }
          /* line 491, ../sass/screen.scss */
          body .content-wrapper .content .brackets .bracket.bracket1 {
            top: 25px;
            height: 90px; }
          /* line 495, ../sass/screen.scss */
          body .content-wrapper .content .brackets .bracket.bracket2 {
            top: 35px;
            height: 111px; }
          /* line 499, ../sass/screen.scss */
          body .content-wrapper .content .brackets .bracket.bracket3 {
            top: 43px;
            height: 11px; }
          /* line 503, ../sass/screen.scss */
          body .content-wrapper .content .brackets .bracket.bracket4 {
            top: 51px;
            height: 132px; }
          /* line 507, ../sass/screen.scss */
          body .content-wrapper .content .brackets .bracket.bracket5 {
            top: 101px;
            height: 250px; }
          /* line 511, ../sass/screen.scss */
          body .content-wrapper .content .brackets .bracket.bracket6 {
            top: 131px;
            height: 30px; }
      /* line 517, ../sass/screen.scss */
      body .content-wrapper .content pre {
        float: right;
        width: 595px; }
        /* line 520, ../sass/screen.scss */
        body .content-wrapper .content pre code {
          color: #fff; }
  /* line 526, ../sass/screen.scss */
  body .content-wrapper-pages {
    margin-top: 91px;
    width: 100%; }
    /* line 529, ../sass/screen.scss */
    body .content-wrapper-pages section {
      margin: 0 auto;
      padding: 0 20px 40px;
      overflow: hidden;
      width: 914px; }
      /* line 534, ../sass/screen.scss */
      body .content-wrapper-pages section h1 {
        padding: 40px 0 9px;
        font-family: "Montserrat", Helvetica, Arial, sans-serif;
        font-weight: normal; }
      /* line 539, ../sass/screen.scss */
      body .content-wrapper-pages section h2 {
        padding: 40px 0 9px; }
      /* line 542, ../sass/screen.scss */
      body .content-wrapper-pages section p {
        word-wrap: break-word; }
      /* line 545, ../sass/screen.scss */
      body .content-wrapper-pages section a {
        text-decoration: underline; }
      /* line 548, ../sass/screen.scss */
      body .content-wrapper-pages section .soon {
        padding: 140px 0 100px;
        text-align: center;
        font-family: "Montserrat Bold", Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: #b2b2b1; }
      /* line 555, ../sass/screen.scss */
      body .content-wrapper-pages section .tutorial-intro {
        margin: 9px 0 0;
        padding: 11px 20px;
        background: #f6f6f6; }
      /* line 560, ../sass/screen.scss */
      body .content-wrapper-pages section pre {
        margin: 9px 0; }
      /* line 563, ../sass/screen.scss */
      body .content-wrapper-pages section aside {
        position: fixed;
        top: 91px;
        float: left;
        width: 230px; }
        /* line 569, ../sass/screen.scss */
        body .content-wrapper-pages section aside ul li {
          padding: 9px 0 0; }
          /* line 571, ../sass/screen.scss */
          body .content-wrapper-pages section aside ul li a {
            position: relative;
            font-family: Arial, sans-serif;
            color: #b2b2b1;
            text-decoration: none; }
            /* line 576, ../sass/screen.scss */
            body .content-wrapper-pages section aside ul li a:hover {
              color: #262626; }
            /* line 579, ../sass/screen.scss */
            body .content-wrapper-pages section aside ul li a.active {
              color: #262626; }
              /* line 581, ../sass/screen.scss */
              body .content-wrapper-pages section aside ul li a.active:before {
                content: "";
                position: absolute;
                top: 3px;
                left: -14px;
                height: 10px;
                width: 5px;
                background: url("../images/carrot.png") no-repeat; }
        /* line 593, ../sass/screen.scss */
        body .content-wrapper-pages section aside ul.nav-tutorials {
          margin: 20px 0 0;
          padding: 11px 0 0;
          border-top: 1px solid #f6f6f6; }
          /* line 597, ../sass/screen.scss */
          body .content-wrapper-pages section aside ul.nav-tutorials a {
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
            color: #262626; }
      /* line 604, ../sass/screen.scss */
      body .content-wrapper-pages section .content {
        float: right;
        width: 69%; }
      /* line 608, ../sass/screen.scss */
      body .content-wrapper-pages section .bios {
        overflow: hidden; }
        /* line 610, ../sass/screen.scss */
        body .content-wrapper-pages section .bios li {
          margin: 30px 0 0;
          float: left;
          width: 300px; }
          /* line 614, ../sass/screen.scss */
          body .content-wrapper-pages section .bios li.odd {
            margin: 30px 20px 0 0; }
          /* line 617, ../sass/screen.scss */
          body .content-wrapper-pages section .bios li .headshot {
            margin: 0 18px 0 0;
            float: left;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            border: 4px solid #0b9be6;
            height: 100px;
            width: 100px;
            background: #f6f6f6; }
            /* line 627, ../sass/screen.scss */
            body .content-wrapper-pages section .bios li .headshot img {
              position: absolute;
              top: 0;
              left: 0;
              max-height: 100px;
              min-width: 100px; }
              /* line 633, ../sass/screen.scss */
              body .content-wrapper-pages section .bios li .headshot img.john-musser {
                left: -8px; }
              /* line 636, ../sass/screen.scss */
              body .content-wrapper-pages section .bios li .headshot img.ivan-lazarov {
                left: -35px; }
          /* line 641, ../sass/screen.scss */
          body .content-wrapper-pages section .bios li .bio-info {
            padding: 5px 0 0;
            float: left;
            width: 170px; }
            /* line 645, ../sass/screen.scss */
            body .content-wrapper-pages section .bios li .bio-info p {
              padding: 3px 0 0;
              line-height: 18px; }
            /* line 649, ../sass/screen.scss */
            body .content-wrapper-pages section .bios li .bio-info .bio-social {
              margin: 9px 0 0; }
              /* line 651, ../sass/screen.scss */
              body .content-wrapper-pages section .bios li .bio-info .bio-social .symbol {
                margin: 0 5px 0 0;
                font-size: 24px;
                color: #b2b2b1;
                text-decoration: none; }
                /* line 656, ../sass/screen.scss */
                body .content-wrapper-pages section .bios li .bio-info .bio-social .symbol:hover {
                  color: #262626; }
  /* line 666, ../sass/screen.scss */
  body .footer-wrapper {
    width: 100%;
    background: #000102; }
    /* line 669, ../sass/screen.scss */
    body .footer-wrapper .footer {
      margin: 0 auto;
      padding: 40px 20px;
      overflow: hidden;
      width: 914px; }
      /* line 674, ../sass/screen.scss */
      body .footer-wrapper .footer .footer-nav {
        margin: 43px 0 0;
        overflow: hidden;
        text-align: center;
        font-family: Arial, sans-serif; }
        /* line 679, ../sass/screen.scss */
        body .footer-wrapper .footer .footer-nav a {
          margin: 0 0 0 14px;
          font-size: 12px;
          line-height: 12px;
          color: #fff; }
        /* line 685, ../sass/screen.scss */
        body .footer-wrapper .footer .footer-nav p {
          padding: 0;
          float: right;
          font-size: 12px;
          line-height: 12px;
          color: rgba(255, 255, 255, 0.5); }
      /* line 693, ../sass/screen.scss */
      body .footer-wrapper .footer .signup {
        text-align: center;
        /* hide when we have footer links */
        /* float: right; unhide when we have footer links */
        font-family: "Montserrat", Helvetica, Arial, sans-serif;
        font-size: 14px; }
        /* line 698, ../sass/screen.scss */
        body .footer-wrapper .footer .signup label {
          margin: 0 0 20px;
          display: block;
          font-family: "Montserrat Bold", Helvetica, Arial, sans-serif;
          font-size: 21px;
          font-weight: bold;
          line-height: 21px;
          color: #0b9be6; }
        /* line 707, ../sass/screen.scss */
        body .footer-wrapper .footer .signup input {
          padding: 10px;
          display: inline-block;
          border: none; }
          /* line 711, ../sass/screen.scss */
          body .footer-wrapper .footer .signup input[type=text] {
            width: 365px;
            /* hide when we have footer links */
            /* width: 265px; unhide when we have footer links */
            border-radius: 3px 0 0 3px;
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.45); }
          /* line 717, ../sass/screen.scss */
          body .footer-wrapper .footer .signup input[type=submit] {
            color: #fff;
            border-radius: 0 3px 3px 0;
            background-color: #b336a9;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#b336a9), to(#93258a));
            background-image: -webkit-linear-gradient(top, #b336a9, #93258a);
            background-image: -moz-linear-gradient(top, #b336a9, #93258a);
            background-image: -o-linear-gradient(top, #b336a9, #93258a);
            background-image: linear-gradient(to bottom, #b336a9, #93258a); }
            /* line 726, ../sass/screen.scss */
            body .footer-wrapper .footer .signup input[type=submit]:hover {
              background-color: #8f2b87;
              background-image: -webkit-gradient(linear, left top, left bottom, from(#8f2b87), to(#761e6e));
              background-image: -webkit-linear-gradient(top, #8f2b87, #761e6e);
              background-image: -moz-linear-gradient(top, #8f2b87, #761e6e);
              background-image: -o-linear-gradient(top, #8f2b87, #761e6e);
              background-image: linear-gradient(to bottom, #8f2b87, #761e6e); }
        /* line 736, ../sass/screen.scss */
        body .footer-wrapper .footer .signup #ss-form-response {
          padding: 10px;
          color: #6fea05; }
